<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<link href="/bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.css" rel="stylesheet">
<link rel="stylesheet" href="/bootstrap-table/bootstrap-table.min.css">
<div class="card">
	<form id="RecordsForm" class="form-horizontal">
		<div class="card-body">
			<div type="button" data-bs-toggle="collapse" data-bs-target="#searchpanel" aria-expanded="false" aria-controls="searchpanel">
				<h4 class="card-title"><i class="fas fa-angle-double-up"></i>
					<%= __('Search Criteria') %>
				</h4>
			</div>
			<div class="show" id="searchpanel">
				<div class="row">
					<div class="form-group row col-md-4">
						<label for="club" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Registry_club')%>
						</label>
						<div class="col-sm-9">
							<select id="club" name="club" data-hide-detail-link="true" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-collection="Club" data-sort="name" data-show="name" data-value=""></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="category" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Registry_category')%>
						</label>
						<div class="col-sm-9">
							<select id="category" name="category" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-list="categories" multiple data-value=""></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="groupby" class="col-sm-3 text-end control-label col-form-label">
							<%= __('Group by')%>
						</label>
						<div class="col-sm-9">
							<select id="groupBy" name="groupBy" class="select2 form-select shadow-none" style="width:100%; height: 36px">
								<option value="none"></option>
								<option value="country"><%= __('country') %></option>
								<option value="track"><%= __('track') %></option>
								<option value="season"><%= __('season') %></option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-4">
						<label for="competition" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Registry_competition')%>
						</label>
						<div class="col-sm-9">
							<select id="competition" data-hide-detail-link="true" name="competition" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-sort="fullname" data-collection="Competition" data-show="fullname"></select> %>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="race" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Registry_race')%>
						</label>
						<div class="col-sm-9">
							<select id="race" name="race" data-hide-detail-link="true" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-distinct="race" data-collection="Registry" data-sort="race" data-show="race" data-value="race"></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="top" class="col-sm-3 text-end control-label col-form-label">
							<%= __('Top')%>
						</label>
						<div class="col-sm-9">
							<select id="top" name="top" class="select2 form-select shadow-none" style="width:100%; height: 36px">
								<option value="1" selected>1</option>
								<option value="3">3</option>
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="*"><%= __('All') %></option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-4">
						<label for="season" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Competition_season')%>
						</label>
						<div class="col-sm-9">
							<select id="season" name="season" data-hide-detail-link="true" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-distinct="season" data-collection="Competition" data-sort="season" data-show="season" data-value="season"></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="gender" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_gender')%>
						</label>
						<div class="col-sm-9">
							<select id="gender" name="gender" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-list="gender" data-value=""></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="bestForSkater" class="col-sm-3 text-end control-label col-form-label">
							<%= __('Best for Skater')%>
						</label>
						<div class="col-sm-9">
							<select id="bestForSkater" name="bestForSkater" class="select2 form-select shadow-none" style="width: 100%; height: 36px">
								<option value="true"><%= __('BOOLEAN_true') %></option>
								<option value="false" selected><%= __('BOOLEAN_false') %></option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-4">
						<label for="country" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_country')%>
						</label>
						<div class="col-sm-9">
							<select id="country" name="country" data-hide-detail-link="true" class="select2 form-select shadow-none" style="width:100%; height: 36px"></select>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="track" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Competition_track')%>
						</label>
						<div class="col-sm-9">
							<select id="track" name="track" data-hide-detail-link="true" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-collection="Track" data-show="fullname" data-value=""></select> %>
						</div>
					</div>
					<div class="form-group row col-md-4">
						<label for="training" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Competition_training')%>
						</label>
						<div class="col-sm-9">
							<select id="training" name="training" class="select2 form-select shadow-none" style="width: 100%; height: 36px">
								<option value="true"><%= __('BOOLEAN_true') %></option>
								<option value="false" selected><%= __('BOOLEAN_false') %></option>
							</select>
						</div>
					</div>
				</div>
				<div class="border-top">
					<div class="card-body">
						<button id="RecordsForm_search_btn" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#searchpanel">
							<%= __('SEARCH') %>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="card">
	<div class="card-body">
		<h5 class="card-title"><%= __('Registry') %></h5>
		<div class="table-responsive">
			<table id="table" data-detail-view="true" data-detail-view-icon="true" data-group-by="true" data-group-by-formatter="groupFormatter" data-group-by-field="skater.country" data-group-by-toggle="true" data-group-by-show-toggle-icon=true data-group-by-collapsed-groups="skater" data-detail-formatter="registryDetailFormatter" data-toggle="table" data-sortable="true" class="table table-striped table-bordered <%= locals.user.roles.includes('admin') || locals.user.roles.includes('coach') ? 'clickable' : ''%>" detail-url="/management/registry/">
				<thead>
					<tr>
						<th data-field="position" data-sortable="true">
							<%= __('COL_position') %>
						</th>
						<th data-field="race" data-sortable="true" data-visible="false">
							<%= __('COL_race') %>
						</th>
						<th data-field="date" data-formatter="core.formatters.date" data-sortable="true">
							<%= __('COL_date') %>
						</th>
						<th data-field="skater.fullname" data-sortable="true">
							<%= __('COL_skater') %>
						</th>
						<th data-field="country" data-sortable="true" data-visible="false">
							<%= __('COL_country') %>
						</th>
						<th data-field="club.name" data-sortable="true" data-visible="false">
							<%= __('COL_club') %>
						</th>
						<th data-field="category" data-sortable="true">
							<%= __('COL_category') %>
						</th>
						<th data-field="skater.gender" data-sortable="true data-visible="false">
							<%= __('COL_gender') %>
						</th>
						<th data-field="competition.fullname" data-sortable="true">
							<%= __('COL_competition') %>
						</th>
						<th data-field="competition.track.fullname" data-sortable="true" data-visible="false">
							<%= __('COL_track') %>
						</th>
						<th data-field="competition.season" data-sortable="true" data-visible="false">
							<%= __('COL_season') %>
						</th>
						<th data-field="distance" data-sortable="true" data-visible="false">
							<%= __('COL_distance') %>
						</th>
						<th data-field="rail" data-sortable="true" data-visible="false">
							<%= __('COL_rail') %>
						</th>
						<th data-field="starting" data-sortable="true" data-visible="false">
							<%= __('COL_starting') %>
						</th>
						<th data-field="trainingHeat" data-sortable="true" data-visible="false">
							<%= __('COL_trainingHeat') %>
						</th>
						<th data-field="trainingPercentage" data-sortable="true" data-visible="false">
							<%= __('COL_trainingPercentage') %>
						</th>
						<th data-field="times" data-sortable="true" data-width="100" data-formatter="formatterMillisecondsArray">
							<%= __('COL_partialTimes') %>
						</th>
						<th data-field="totalTime" data-formatter="core.formatters.milliseconds" data-sortable="true">
							<%= __('COL_totalTime') %>
						</th>
						<th data-field="speed" data-formatter="speedFormatter" data-sortable="true"><%= __('COL_speed') %></th>
						<% if (locals.user.roles.includes('admin') || locals.user.roles.includes('coach')) {%>
						<th data-field="id" data-formatter="actionFormatter" data-align="center" data-events="actionEvents">
							<%= __('COL_actions') %>
						</th>
						<%}%>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<script src="/bootstrap-table/extensions/group-by-v2/bootstrap-table-group-by.min.js"></script>
<script>
	function actionFormatter(value, row, index) {
		return [
			'<a class="view" href="/management/registry/' + row._id + '" title="">',
			'<i class="fa fa-eye"></i>',
			"</a> ",
		].join("");
	}
	$('#RecordsForm_search_btn').click(() => {
		values = core.forms.parse('RecordsForm')
		core.api.find('/api/registry/records', values, (data) => {
			gbf = []
			switch ($('#groupBy').val()) {
				case 'country':
					gbf = ['country']
					break;
				case 'season':
					gbf = ['competition.season']
					break;
				case 'track':
					gbf = ['competition.track.name']
					break;
				default:
					break;
			}
			gbf.push('race')
			if ($('#top').val() != '1') gbf.push('skater.gender')
			$('#table').bootstrapTable('load', data)
			$('#table').bootstrapTable('refreshOptions', {
				groupBy: true,
				groupByField: gbf
			})
		})
	})

	$(document).ready(async function() {
		$('#country').select2({
			data: await getCountries()
		})
		$('#country').val($('#country').attr('data-value'))
		$('#country').trigger('change')


	})

	function groupFormatter(value, index, data) {
		return `<span class="group-row">${value}</span>`
	}

	function speedFormatter (value, row, index) {
		return Math.round(row.distance*3600/row.totalTime*100)/100 + " km/h"
   }
</script>