<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<form id="ClubForm" class="form-horizontal">
				<div class="card-body">
					<h4 class="card-title">
						<%= __('MODEL_Club') %>
					</h4>
					<div class="form-group row">
						<label for="name" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Club_name')%>
						</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= locals.object ? object['name'] : '' %>" />
						</div>
					</div>
					<div class="form-group row">
						<label for="shortName" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Club_shortName')%>
						</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="shortName" name="shortName" placeholder="" value="<%= locals.object ? object['shortName'] : '' %>" />
						</div>
					</div>
					<div class="form-group row">
						<label for="createdAt" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Club_createdAt')%>
						</label>
						<div class="col-sm-9">
							<div class="input-group">
								<input type="text" class="form-control mydatepicker" placeholder="<%=__('DATE_FORMAT')%>" id="createdAt" name="createdAt" disabled date-value="<%= locals.object ? object['createdAt'] : '' %>" />
								<div class="input-group-append">
									<span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="updatedAt" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Club_updatedAt')%>
						</label>
						<div class="col-sm-9">
							<div class="input-group">
								<input type="text" class="form-control mydatepicker" placeholder="<%=__('DATE_FORMAT')%>" id="updatedAt" name="updatedAt" disabled date-value="<%= locals.object ? object['updatedAt'] : '' %>" />
								<div class="input-group-append">
									<span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" id="id" name="id" value="<%= locals.object ? locals.object.id : ''%>" />
					<div class="border-top">
						<div class="card-body" data-type="action-buttons" data-entity="<%=locals.model.modelName%>" data-permissions="<%=locals.permissions.join('')%>" data-new="/<%=locals.view%>">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$('#ClubForm_submit_btn').click(() => {
		values = core.forms.parse('ClubForm')
		if (values.id) core.api.update('/api/Club', values.id, values, null)
		else core.api.create('/api/Club', values, null)
	})
	$('#ClubForm_list_btn').click(() => {
		window.location.replace('/management/club-list')
	})
	$('#ClubForm_search_btn').click(() => {
		window.location.replace('/management/club-search')
	})
</script>