<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<form id="SkaterForm" class="form-horizontal">
				<div class="card-body">
					<h4 class="card-title">
						<%= __('MODEL_Skater') %>
					</h4>
					<div class="form-group row">
						<label for="name" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_name')%>
						</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="name" name="name" placeholder="" value="<%= locals.object ? object['name'] : '' %>" />
						</div>
					</div>
					<div class="form-group row">
						<label for="lastname" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_lastname')%>
						</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="<%= locals.object ? object['lastname'] : '' %>" />
						</div>
					</div>
					<div class="form-group row">
						<label for="currentclub" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_currentclub')%>
						</label>
						<div class="col-sm-9">
							<select id="currentclub" name="currentclub" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-collection="Club" data-show="name" data-value="<%= locals.object && locals.object.currentclub ? object.currentclub._id : '' %>"></select>
						</div>
					</div>
					<div class="form-group row">
						<label for="currentcategory" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_currentcategory')%>
						</label>
						<div class="col-sm-9">
							<select id="currentcategory" name="currentcategory" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-list="categories" data-value="<%=locals.object && locals.object.currentcategory ? object.currentcategory : '' %>"></select>
						</div>
					</div>
					<div class="form-group row">
						<label for="gender" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_gender')%>
						</label>
						<div class="col-sm-9">
							<select id="gender" name="gender" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-list="gender" data-value="<%=locals.object && locals.object.gender ? object.gender : '' %>"></select>
						</div>
					</div>
					<div class="form-group row">
						<label for="country" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_country')%>
						</label>
						<div class="col-sm-9">
							<select id="country" name="country" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value="<%=locals.object && locals.object.country ? object.country : '' %>"></select>
						</div>
					</div>
					<div class="form-group row">
						<label for="birthDate" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_birthDate')%>
						</label>
						<div class="col-sm-9">
							<div class="input-group">
								<input type="text" class="form-control mydatepicker" placeholder="<%=__('DATE_FORMAT')%>" id="birthDate" name="birthDate" date-value="<%= locals.object ? object['birthDate'] : '' %>" />
								<div class="input-group-append">
									<span class="input-group-text h-100"><i class="mdi mdi-calendar"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label for="user" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_active')%>
						</label>
						<div class="col-sm-9">
							<select id="active" name="active" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-value-boolean="true" data-value="<%= locals.object && locals.object.active %>"></select>
						</div>
					</div>
					<% if (locals.user.roles.includes('admin')) { %>
					<div class="form-group row">
						<label for="user" class="col-sm-3 text-end control-label col-form-label">
							<%= __('MODEL_Skater_user')%>
						</label>
						<div class="col-sm-9">
							<select id="user" name="user" class="select2 form-select shadow-none" style="width:100%; height: 36px" data-collection="User" data-show="username" data-value="<%= locals.object && locals.object.user ? object.user._id : '' %>"></select>
						</div>
					</div>
					<% } %>
					<input type="hidden" id="id" name="id" value="<%= locals.object ? locals.object.id : ''%>" />
					<div class="border-top">
						<div class="card-body" data-type="action-buttons" data-entity="<%=locals.model.modelName%>" data-permissions="<%=locals.permissions.join('')%>" data-new="/<%=locals.view%>">
							<button type="button" class="btn btn-dark onlyId" onclick="window.location.assign(`/management/skater/${$('#id').val()}/registries`)"><%= __('VIEW_REGISTRIES') %></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(async function (){
			$('#country').select2({data : await getCountries()})
			$('#country').val($('#country').attr('data-value'))
			$('#country').trigger('change')
	})
</script>